<template>
  <div class="addcreate_box">
        <el-upload class="avatar-uploader" 
        action="http://localhost:9000/dsp-creative/creative/upload" 
        :show-file-list="false" 
        style="border:1px solid #ccc;width:178px"
        :on-success="handleAvatarSuccess"
         :before-upload="beforeAvatarUpload">
          <img v-if="imageUrl" 
          :src="imageUrl" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
        <p class="bottomP">
          <span>广告文案:</span>
          <input type="text" placeholder="请设置广告名称" id="advermethod">
          <b>0/18</b>
        </p>
        <p class="bottomP">
          <span>监控链接:</span>
          <input type="text" placeholder="请设置广告名称" id="watchhref">
        </p>
  </div>
</template>

<script>
export default {
  props: {
    dataArr: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      imageUrl: ''
    };
  },
  methods: {
   handleAvatarSuccess(res, file) {
       this.imageUrl = "http://localhost:9000/"+ res.data.value
    },
   beforeAvatarUpload(file) {
        const isJPG = 1;
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isJPG) {
          this.$message.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
  }
  }
}
</script>

<style scoped>
.bottomP {
  margin-top: 20px;
}

.bottomP input {
  width: 30%;
}

.bottomP b {
  font-weight: normal;
  font-size: 13px;
}

button {
  width: 80px;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
.addcreate_box {
  height: 100%;
  background: #fff;
}

.addcreate_box h2 {
  margin-left: 15px;
  margin-top: 10px;
}

.addcreate_box h5 {
  margin-left: 15px;
  margin-top: 15px;
}

.topP {
  margin-left: 15px;
  margin-top: 10px;
}

.topP input {
  width: 30%;
}

.topP b {
  font-weight: normal;
  font-size: 13px;
}

button {
  margin-top: 20px;
}
</style>