<template>
  <div class="haveplan">
    <p>推广目标:网页</p>
    <p>计划名称:DD-广告测试团队-20171102-4</p>
    <p>每日限额:500/天</p>
    <button>下一步</button>
  </div>

</template>

<script>
  export default {
     name: 'haveplan'

  }
</script>

<style scoped>
.haveplan{
    margin-top: 25px;
    margin-left: 20px;
  }
  .haveplan p{
    color: rgb(94, 94, 94);
    font-size: 13px;
    margin-bottom: 10px;
  }
  .haveplan button{
    width: 130px;
    height: 40px;
    border: none;
    background: #2873FF;
    color: #fff;
    margin-top: 30px;
  }

</style>