<template>
  <div>
    <h3>
      <span>DD-广告测试团队-20171102-4</span>
      <b>计划</b>
    </h3>
    <p>
      <strong>所有广告计划></strong>
      <em>DD-广告测试团队-20171102-4</em>
    </p>
    <div class="firstcontent">
      <div class="cont">
        <span>计划ID:</span>
        <b>20171102</b>
      </div>
      <div class="cont">
        <span>投放目的:</span>
        <b>网页</b>
      </div>
      <div class="cont">
        <span>日预算(元):</span>
        <b>3400</b>
      </div>
    </div>
    <ol>
      <li>广告单元</li>
      <li>广告创意</li>
    </ol>
    <div class="contitle">
      <div style="margin-top: 15px;width:500px;float:left">
        <el-input placeholder="请输入关键字查询" v-model="input5" class="input-with-select">
          <el-select v-model="select" slot="prepend" placeholder="请选择">
            <el-option label="餐厅名" value="1"></el-option>
            <el-option label="订单号" value="2"></el-option>
            <el-option label="用户电话" value="3"></el-option>
          </el-select>
        </el-input>
      </div>
      <el-row style="margin-left:10px;margin-top:16px;float:left">
        <span style="margin-left:30px">状态</span>
        <el-select v-model="value" placeholder="曝光量">
          <el-option v-for="(item, index) in options" :key="index" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-row>
      <button class="btn">查询</button>
    </div>

    <div class="titlecont">
      <el-row style="margin-left:10px;margin-top:16px;float:left">
  <el-button type="primary">+新建菜单</el-button>
</el-row>
      <el-row style="margin-left:10px;margin-top:16px;float:left">
        <el-select v-model="value" placeholder="批量修改">
          <el-option v-for="(item, index) in options" :key="index" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-row>
      <div class="block" style="margin-left:341px;margin-top:16px;float:left">
        <el-date-picker v-model="value1" type="date" placeholder="选择日期">
        </el-date-picker>
      </div>
      <el-row style="margin-left:10px;margin-top:16px;float:left">
        <el-select v-model="value" placeholder="自定义列">
          <el-option v-for="(item, index) in options" :key="index" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-row>
    </div>
    <el-table ref="multipleTable" :data="tableData3" tooltip-effect="dark" style="width: 100%; white-space:wrap" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55">
      </el-table-column>
      <el-table-column label="单元名称">
         <el-tooltip :content="'Switch value: ' + value5" placement="top">
  <el-switch
    v-model="value5"
    active-color="#13ce66"
    inactive-color="#ff4949"
    active-value="100"
    inactive-value="0">
  </el-switch>
</el-tooltip>
      </el-table-column>
      <el-table-column prop="id" label="单元ID">
      </el-table-column>
      <el-table-column prop="name" label="单元名称">
      </el-table-column>
      <el-table-column label="投放日期">
        <template slot-scope="scope">{{ scope.row.date }}</template>
      </el-table-column>
      <el-table-column prop="redirect" label="定向" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="adver" label="广告位" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="method" label="出价方式" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="price" label="出价" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="sun" label="曝光量" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="click" label="点击量" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="address" label="点击率" show-overflow-tooltip>
      </el-table-column>
       <el-table-column prop="status" label="状态" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="编辑" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="del" label="删除" show-overflow-tooltip>
        <!-- <i class="iconfont">&#xe6ef;</i> -->
      </el-table-column>
    </el-table>
    <div class="block" style="margin-left:500px">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage3" :page-size="10" prev-text="上一页" next-text="下一页" :background=true layout="prev, pager, next, jumper" :total="100">
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // value1: true,
       value5: '100',
      currentPage1: 5,
      currentPage2: 5,
      currentPage3: 5,
      currentPage4: 4,
      value1: '',
      input3: '',
      input4: '',
      input5: '',
      select: '',
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value: '',
      tableData3: [{
        date: '2016-05-03',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中',
        del: 'X'
      }, {
        date: '2016-05-02',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }, {
        date: '2016-05-04',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }, {
        date: '2016-05-01',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }, {
        date: '2016-05-08',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }, {
        date: '2016-05-06',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }, {
        date: '2016-05-07',
        id: '171102-4',
        name: 'DD-广告测试团队-20171102-4',
        address: '上海市普陀区金沙江路 1518 弄',
        redirect: '男 小学 10-16岁 北京 天津 上海 四川 山西 河南',
        adver: '首页信息流(多图)',
        sun: 2000,
        click: 1000,
        method: "CPC",
        price: 2.4,
        status: '投放中'
      }],
      multipleSelection: []
    }
  },
  methods: {
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    }
  }
}
</script>

<style scoped>
.contitle {
  width: 100%;
  height: 60px;
}

.titlecont {
  width: 100%;
  height: 60px;
}

.btn {
  margin-left: 15px;
  margin-top: 17px;
  width: 117px;
  height: 37px;
  background: #000;
  color: #fff;
}

.el-select .el-input {
  width: 130px;
}

.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

h3 {
  margin-left: 15px;
  margin-top: 20px;
}

h3 span {
  font-size: 22px;
}

h3 b {
  display: inline-block;
  font-weight: normal;
  color: #fff;
  background: skyblue;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 16px;
  width: 45px;
  text-align: center;
}

p {
  margin-top: 15px;
  margin-left: 15px;
}

p strong {
  font-size: 15px;
  color: #ccc;
}

p em {
  font-style: normal;
}

.firstcontent {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.firstcontent .cont {
  float: left;
  width: 150px;
  text-align: center;
}

.firstcontent div span {
  color: #ccc;
}

ol {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  line-height: 40px;
}

ol li {
  width: 100px;
  text-align: center;
  float: left;
}
</style>