<template>
  <div class="setadver_box">
    <div class="setadver_left">
      <ul>
         <router-link to="/setadver/setplanone">
         <li>建立广告计划
        <span>选择计划</span>
        </li>
        </router-link >
         <router-link to="/setadver/modulecreate">
          <li>广告单元
          <span>基本信息</span>
          <span>定向</span>
          <span>广告位</span>
          <span>出价</span>
        </li>
         </router-link>
        <router-link to="/setadver/firstcreate">
        <li>广告创意
          <span>落地页</span>
          <span>上传创意</span>
        </li>
        </router-link>
      </ul>
    </div>
    <div class="setadver_right">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.setadver_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.setadver_left {
  height: 100%;
  width: 10%;
  background: #eee;
  float: left;
  
}

.setadver_left ul li {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
}

ul li span {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.setadver_right {
  height: 100%;
  width: 90%;
  float: left;
  overflow-y:scroll;
}

.setadver_right h3 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}
</style>