<template>
  <div>
     <h3>建立广告计划></h3>
      <el-row :gutter="12">
        <el-col :span="8" style="margin-left:15px">
           <router-link to="/setadver/setplanone/advermodule">
          <el-card shadow="always">
           <h4 style="font-weight:normal" >已有计划</h4>
            <span style="margin-top:15px;font-size: 12px; display:inline-block">根据已有计划,直接创建广告</span>
          </el-card>
          </router-link>
        </el-col>
        <el-col :span="8">
           <router-link to="/setadver/setplanone/newbuildplan">
          <el-card shadow="hover">
             <h4 style="font-weight:normal">新建计划</h4>
            <span style="margin-top:15px;font-size: 12px; display:inline-block">新建推广目标,计划设置</span>
          </el-card>
           </router-link>
        </el-col>
      </el-row>
      <div>
        <router-view></router-view>
      </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style scoped>

</style>