<template>
  <div>
    <ul>
      <li :class="index == selected?'active': ''" v-for="(item, index) in dataArr" @click="changeactive(index)" :key="index">{{item.label}}</li>
      <li @click="addcreation" v-if="editactive">+添加创意</li>
    </ul>
    <div class="content">
      <div v-for="(val, ind) in dataArr" :key="ind"  v-show="ind == selected">
         <slot :name="val.name"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataArr: {
      type: Array,
      default: null
    },
     editactive: {
      type: Boolean,
     required: true
    }
  },
  data() {
    return {
      selected: 0
    }
  },
  methods: {
    addcreation() {
      this.$emit('edmit')
    },
    changeactive(index) {
      this.selected = index
    }
  }
}
</script>

<style scoped>
ul{
  display: flex;
  width: 100%;
  margin-top: 10px;
}
ul li{
  /* width: 10%; */
  text-align: center;
  margin-left: 15px;
  
}
.active{
  border-bottom: 2px solid blue;
}
</style>