<template>
  <div class="create_box" style="background:#fff">
    <div class="mark" style="display:none" ref="mark">
      <div class="diolag" ref="diolag">
        <div ref="diolagone" @click="deldiolagone">单图</div>
        <div ref="diolagone" @click="deldiolagone">多图</div>
      </div>
    </div>
    <h2>广告创意</h2>
    <h5>落地页</h5>
    <p>
      <span>着陆页地址:</span>
      <input type="text" placeholder="请设置广告名称">
      <b>预览</b>
    </p>
    <h5>上传创意</h5>
     <h6 @click="addcreate" ref="hidecreate">+添加创意</h6>
    <Destable  v-show="panelShow"  :panelShow="panelShow" :dataArr="myArr" :editactive="true" @edmit="clickpush">
      <Destabitem v-for="(item, index) in myArr" :key="index" :slot="item.name">
         <Addcreate></Addcreate>
      </Destabitem>
    </Destable>
    <button class="btn">提交</button>
  </div>
</template>

<script>
import Addcreate from '../addcreate/addcreate'
import Destable from '../../components/daptable'
import Destabitem from '../../components/dsptableitem'
export default {
  data() {
    return {
      panelShow: false,
      length: 1,
      myArr: [
        {
          label: "创意",
          name: 'name-1'
        }
      ]
    }
  },
  methods: {
    addcreate() {
      this.$refs.mark.style.display = 'block'
    },
    deldiolagone() {
      this.$refs.mark.style.display = 'none',
      this.$refs.hidecreate.style.display = 'none',
      this.panelShow = true;
    },
    clickpush() {
      this.myArr.push({
        label: '创意'+(++this.length),
        name: 'name-2'+this.length
      })
    }
  },
  components: {
    Addcreate,
    Destable,
    Destabitem
  }
}
</script>

<style scoped>
.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 99999;
}

.diolag {
  width: 400px;
  height: 210px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.diolag div {
  width: 180px;
  height: 145px;
  border: 1px solid #ccc;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
}

.create_box {
  height: 100%;
  position: relative;
}

.create_box h2 {
  margin-left: 15px;
  margin-top: 20px;
}

.create_box h5 {
  margin-left: 15px;
  margin-top: 50px;
}

.create_box h6 {
  margin-left: 15px;
  margin-top: 15px;
  color: aqua;
}

.btn {
  margin-left: 15px;
}

.create_box p {
  margin-left: 15px;
  margin-top: 20px;
}

.create_box p input {
  width: 30%;
}

.create_box p b {
  font-weight: normal;
  font-size: 13px;
}

.create_box button {
  width: 80px;
}
</style>