<template>
  <div class="home_box">
    <div class="contbox">
      <div class="home_boxone">
        <img src="../../../static/images/4.png" alt="">
        <div class="boxone_right">
          <h3>现金账户</h3>
          <p>￥
            <span>126,560,00</span>
          </p>
        </div>
      </div>
      <div class="home_boxtwo">
        <img src="../../../static/images/5.png" alt="">
        <div class="boxone_right">
          <h3>今日消耗</h3>
          <p>￥
            <span>5,400</span>
          </p>
        </div>
      </div>
    </div>
    <el-row class="row_box">
      <el-row :span="24">
        <el-col :span="10">
          <h3 class="quesall">整体情况</h3>
        </el-col>
        <el-col :span="14">
          <el-date-picker v-model="startTime" type="month" value-format="yyyy/MM" placeholder="选择月" :span="6">
          </el-date-picker>
          </el-date-picker>
          <el-date-picker v-model="endTime" type="month" value-format="yyyy/MM" placeholder="选择月" :span="6">
          </el-date-picker>
          </el-date-picker>
        </el-col>
      </el-row>
      <el-row :gutter="20" class="rowtwo" style="margin-left:0;margin-right:0;height: 60px; font-size: 14px">
        <el-col :span="8">
          <el-card shadow="always" style="height: 60px;" @click.native="test">
            <p>曝光量(次)</p>
            <span>461425</span>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card shadow="hover" style="height: 60px">
            <p>点击量(次)</p>
            <span>232131</span>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card shadow="never" style="height: 60px">
            <p>点击量(次)</p>
            <span>12436</span>
          </el-card>
        </el-col>
      </el-row>
      <el-row style="margin-left:10px">
        <el-select v-model="value" placeholder="曝光量">
          <el-option v-for="(item, index) in options" :key="index" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-row>
      <el-row>
        <div ref="table" class="table"></div>
      </el-row>
    </el-row>
  </div>
</template>

<script>
import Echarts, { init } from 'echarts'
export default {
  name: 'Home',
  data() {
    return {
      startTime: '2017/09',
      endTime: '2018/04',
      pickerOptions2: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      instance: null,
      axisList: [1,2,3,4,5],
      value6: '',
      value4: '',
      value7: '',
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value: ''
    };
  },
  mounted() {
    let ginteoption = init(this.$refs.table);
    this.instance = ginteoption;
    let option = {
      xAxis: {
        type: 'category',
        data: this.axisList,
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line'
      }]
    };
    ginteoption.setOption(option)
    window.onresize = () =>{
      ginteoption.resize()
    }
  },
  watch: {
    startTime(n, o) {
      console.log(n, o)
    },
    endTime(n, o) {
      this.getAllMonths(this.startTime, this.endTime)
    }

  },
  methods: {
    getAllMonths(start, end) {
      let [startYear, startMonth] = start.split('/'); //开始的年月
      let [endYear, endMonth] = end.split('/'); //结束的年月

      let res = [];
      while (startYear <= endYear) {
        if (startYear < endYear) {  //开始的年份小于结束的年份 
          if (startMonth <= 12) {
            res.push(`${startYear}/${startMonth++}`)
          }
          else {
            startYear++;
            startMonth = 1;
          }
        } else {
          if (startMonth <= endMonth) {
            res.push(`${startYear}/${startMonth++}`)
            this.axisList = res
          }
          else {
            startYear++;
          }
        }
      }
    },
    test() {
      let that = this;
      this.$http.post("/dsp-report/index").then(res => {
        that.instance.setOption({
          xAxis: {
            data: this.axisList,
          },
          series: [{
            data: res.data.dataY2,
            type: 'line'
          }]
        })
      })
    }
  }
}
</script>

<style scoped>
.el-input--suffix .el-input__inner {
  padding-right: 30px;
  /* height: 30px; */
}

.table {
  width: 100%;
  height: 300px;
}

.quesall {
  font-weight: normal;
  margin-left: 15px;
  font-size: 13px;
  margin-top: 13px;
}

img {
  width: 30px;
  float: left;
  margin-top: 16px;
  margin-left: 10px;
}

.contbox {
  width: 100%;
  height: 76px;
  margin-bottom: 35px;
}

.row_box {
  width: 96%;
  height: 100%;
  margin-left: 13px;
  margin-top: -35px;
}

.el-row {
  background: #fff;
  margin-bottom: 6px;
}

.home_box {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

.home_boxone,
.home_boxtwo {
  width: 280px;
  height: 60px;
  float: left;
  margin-left: 15px;
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
}

.imgs {
  width: 30px;
  float: left;
  height: 60px;
}

.boxone_right {
  width: 69%;
  float: left;
  height: 60px;
  margin-left: 34px;
}

.imgs img {
  width: 100%;
  margin-left: 10px;
  margin-top: 27px;
}

.boxone_right h3 {
  font-weight: normal;
  font-size: 13px;
  margin-top: 15px;
}

.boxone_right p {
  font-size: 18px;
  margin-top: 6px;
}
</style>