<template>
  <div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
  <el-aside width="200px" style="background-color:#022050">
    <img src="../static/images/photo.png" alt="">
    <el-menu :default-openeds="['1', '3']" router style="background-color:#022050; text-color:#fff">
       <el-menu-item-group style="background-color: #0952CE">
        <template slot="title"><b class="bb">+</b class="bb"><el-menu-item index="/setadver"><span>新建广告</span></el-menu-item></template>
         </el-menu-item-group>
       <el-menu-item-group>
        <template slot="title"><i class="el-icon-message"></i><el-menu-item index="/home"><span>首页概览</span></el-menu-item></template>
         </el-menu-item-group>
      <el-submenu index="2">
        <template slot="title"><i class="el-icon-menu"></i><span>广告管理</span></template>
        <el-menu-item-group>
          <el-menu-item index="/plan">广告计划</el-menu-item>
          <el-menu-item index="/module">广告单元</el-menu-item>
          <el-menu-item index="/create">广告创意</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-menu-item-group>
           <template slot="title"><i class="el-icon-setting"></i><el-menu-item index="/data"><span>数据中心</span></el-menu-item></template>
      </el-menu-item-group>
     <el-menu-item-group>
         <template slot="title"><i class="el-icon-menu"></i> <el-menu-item index="/utilsbox"><span>工具箱</span></el-menu-item></template>
      </el-menu-item-group>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>查看</el-dropdown-item>
          <el-dropdown-item>新增</el-dropdown-item>
          <el-dropdown-item>删除</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>{{userName}}</span>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'App',
  computed: {
    ...mapState(['userName'])
  }
}
</script>

<style>
.el-menu-item-group__title{
  padding: 0;
}
.bb{
  float: left;
  margin-top: 20px;
}
.el-main{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}
img{
  width: 159px;
}
.el-icon-message{
  float: left;
  margin-top: 24px;
}
.el-icon-setting{
  float: left;
  margin-top: 24px;
}
.el-icon-menu{
  float: left;
  margin-top: 24px;
}
html, body{
  width: 100%;
  height: 100%;
}
#app {
 width: 100%;
 height: 100%;
font-size: 14px;
}
.el-aside{
  background: #022050;
}
.el-menu-item span{
  color:#ccc;
}
.el-submenu span{
  color:#ccc;
}
</style>
