<template>
  <div class="login">
    <el-row type="flex" justify="center">
      <el-form :model="formdata" ref="formdatas">
        <el-form-item label="用户名" prop="username" :rules="rulesusername">
          <el-input type="username" v-model="formdata.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" :rules="rulespassword">
          <el-input type="password" v-model="formdata.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click.native="login">提交</el-button>
        </el-form-item>
      </el-form>
    </el-row>
  </div>
</template>

<script>
import { login } from '../../utils/request'
export default {
  name: 'login',
  data() {
    return {
      formdata: {
        username: '',
        password: ''
      },
      rulesusername: [{
        required: true,
        message: '用户名不能为空'
      }, {
        type: 'email',
        message: '用户名输入错误'
      }],
      rulespassword: [{
        required: true,
        message: '密码不能为空'
      }, {
        message: '密码输入错误'
      }]
    }
  },
  methods: {
    login() {
      this.$refs.formdatas.validate((isValid, options) => {
        if (isValid) {
           this.$store.dispatch('startToken', {
             data: this.formdata,
             notify: this.$notify,
             router: this.$router
           })
        }
        else {
          this.$notify({
            message: "输入有误",
            title: "错误",
            type: "error"
          })
        }
      })
    }
  }
}
</script>
<style scoped>
.login {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
